.app.dark {
    --bg-color: #011c88;
    --inverted-bg-color: #cbcbcb;

    --primary-color: #00e303;
    --secondary-color: #0c7200;

    --inverted-primary-color: #0026dc;
    --inverted-secondary-color: #002193;
}
