.app.light {
    --bg-color: #cbcbcb;
    --inverted-bg-color: #011c88;

    --primary-color: #0026dc;
    --secondary-color: #002193;

    --inverted-primary-color: #00e303;
    --inverted-secondary-color: #0c7200;
}
